/* WDD100 - Assignment Portal CSS Template */
/* You may use #HEX or color names */
/* * is a wildcard referring to all elements. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300");
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Quicksand");
@import url("https://fonts.googleapis.com/css?family=Abel|Open+Sans+Condensed:300|Quicksand");
header img {
  padding-top: 10px;
  height: auto;
  float: top; }

.banner {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("banner.jpg");
  /* Set a specific height */
  width: 100%;
  margin: 0;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }

.img {
  position: absolute;
  left: 20px;
  top: -10px;
  width: 140px;
  height: auto;
  z-index: 1; }

.smedia {
  text-decoration: none;
  z-index: 1;
  float: right;
  margin-top: -25px;
  margin-right: -10%;
  right: 0px; }

.sicon {
  height: 80%; }

/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

body {
  margin: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

button,
input {
  /* 1 */
  overflow: visible; }

button,
select {
  /* 1 */
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

* {
  margin: 0;
  box-sizing: border-box; }

body {
  font-size: 16px;
  line-height: 32px;
  color: #000; }

li {
  padding-left: 20%; }

a {
  text-decoration: none; }

p {
  font-family: 'Quicksand', sans-serif;
  font-size: 18pt; }

main {
  padding-top: 0px;
  padding-bottom: 60px; }

h1, h2, h3 {
  font-family: 'Open Sans', sans-serif; }

h1 {
  font-size: 28pt;
  color: #F7FFF7;
  padding-bottom: 10px; }

h2 {
  font-size: 24pt;
  padding-bottom: 20px; }

h3 {
  font-size: 22pt;
  text-align: center;
  border-bottom: 1px solid #bbb;
  padding: 40px 15px 0 15px; }

header,
main,
footer {
  max-width: 100%; }

header,
footer {
  font-family: 'Abel', sans-serif;
  background-color: #343434;
  text-align: left;
  color: whitesmoke; }
  header li a,
  footer li a {
    text-decoration: underline;
    color: #F7FFF7; }

footer {
  font-size: 18pt;
  background-color: #21314f;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 40px 15px; }

nav {
  margin-top: -20px;
  width: 100%;
  display: block;
  text-align: center;
  background-color: #343434;
  color: #FFF;
  position: relative;
  padding: 15px 10%; }
  nav li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; }
    nav li .nv {
      font-size: 24pt;
      font-family: 'Abel', sans-serif;
      text-decoration: none;
      padding: 21px;
      background-color: #F7FFF7;
      color: #6397B0;
      box-shadow: 1px 2px rgba(0, 0, 0, 0.5); }
      nav li .nv:normal {
        background-color: #F7FFF7;
        color: #6397B0; }
      nav li .nv:hover {
        background-color: #1618C5;
        color: #FFE66D; }
      nav li .nv:active {
        background-color: #6397B0;
        color: #F7FFF7; }

.shad {
  color: white;
  width: 40%;
  height: 100px;
  background: #444444;
  /* SHADOW SETTINGS.  */
  box-shadow: 3px 3px 1px grey;
  text-shadow: 2px 2px 4px red; }

.center {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.paragraph {
  text-align: justify;
  font-size: 18pt; }

.spacing {
  padding: 40px 15px;
  margin: 40px 10%; }

.full {
  width: 100%;
  height: 100%; }

.cover {
  width: 25%;
  height: auto; }

.content {
  text-align: justify;
  position: relative; }

.article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "gleft gright";
  padding: 2%; }

.left {
  padding: 20px;
  background-color: #6397B0;
  text-align: left; }
  .left article {
    padding-right: 20px;
    grid-area: gleft; }
  .left img {
    grid-area: gright; }

.right {
  padding: 20px;
  text-align: right;
  background-color: #1618C5;
  color: #FFE66D; }
  .right article {
    padding-left: 20px;
    grid-area: gright; }
  .right img {
    grid-area: gleft; }

.center {
  padding: 20px 10%;
  background-color: #FFE66D;
  display: block;
  text-align: left;
  align-content: center; }

/*# sourceMappingURL=style.css.map */
