header img {
    padding-top: 10px;
    height: auto;
    float: top;
}

.banner {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("banner.jpg");

    /* Set a specific height */
    width: 100%;
    margin: 0;
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.half{
    width: 50%;
}

.img {
    position: absolute;
    left: 20px;
    top: -10px;
    width: 140px;
    height: auto;
    z-index: 1;
}

.smedia {
    text-decoration: none;
    z-index: 1;
    float: right;
    margin-top: -25px;
    margin-right: -10%;
    right: 0px;
}

.sicon{
    height: 80%;
}