$primary: #F7FFF7;
$alternate: #343434;
$accent1: #6397B0;
$accent2: #1618C5;
$accent3: #FFE66D;

$padding: 40px;
$footer: #21314f;
$margin: 10%;

//Text
$text-padding: 15px;
$text-size: 24px;
$h2: 34px;

$nav: $alternate;